.services {
    background: var(--body-color);
}

.services__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.services__card:hover {
    transform: translateY(-10px);
    background-color: rgb(196, 196, 196);
}

.services__img {
    margin-bottom: 1.25rem;
    max-width: 30%;
    height: auto;
}

.service__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #fff;
}

.services__description {
    color: var(--text-color);
}

@media screen and (max-width:1024px) {
    .services__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width:768px) {
    .services__container {
        grid-template-columns: 310px;
    }
}

@media screen and (max-width:350px) {
    .services_container {
        grid-template-columns: 1fr;
    }
    .services__card {
        margin-left: 0.875rem;
        margin-right: 0.875rem;
    }
}