.gallery {
    background: var(--body-color);
}

.gallery__container {
    max-width: 900px;
    margin: auto;
}

.gallery__item {
    text-align: center;
    padding: 0 1.25rem 1.25rem;
}

.thumb {
    height: 27rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery__title {
    margin-top: 0.75rem;
}

.subtitle {
    background: var(--container-color);
    padding: 1.875rem;
    margin-top: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    position: relative;
    margin-bottom: 3rem;
}

.subtitle::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid var(--container-color);
    position: absolute;
    left: 49.5%;
    top: -0.625rem;
    transform: translateX(-7.5px);
}

.swiper-pagination-bullet {
    width: 0.5rem !important;
    height: 0.375rem !important;
    background-color: var(--first-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swipper-pagination-bullet {
    margin: 0 0.2rem !important;
}

.swiper-pagination-bullet-active {
    width: 1.2rem !important;
    height: 0.375rem !important;
    border-radius: 0.5rem !important;
}